<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetosmarttools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_smart_tools"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_smart_tools_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".CadastroCliente.CadastroDoCliente"
            android:exported="false" />
        <activity
            android:name=".CadastroVeiculo.Veiculo"
            android:exported="false" />
        <activity
            android:name=".ui.login.ClienteCadastro"
            android:exported="false"
            android:label="@string/title_activity_cliente_cadastro" />
        <activity
            android:name=".ui.login.CadastroCliente"
            android:exported="false"
            android:label="@string/title_activity_cadastro_cliente" />
        <activity
            android:name=".CadastroExtrato.Saida"
            android:exported="false" />
        <activity
            android:name=".CadastroExtrato.Entrada"
            android:exported="false" />
        <activity
            android:name=".Ajustes"
            android:exported="false" />
        <activity
            android:name=".Servicos"
            android:exported="false" />
        <activity
            android:name=".Cliente"
            android:exported="false" />
        <activity
            android:name=".Extrato"
            android:exported="false" />
        <activity
            android:name=".DashBoard"
            android:exported="false" />
        <activity
            android:name=".Cadastro.Activities.CadastroPassword"
            android:exported="false" />
        <activity
            android:name=".CadastroSenha"
            android:exported="false" />
        <activity
            android:name=".Cadastro.Activities.CadastroOficina"
            android:exported="false" />
        <activity
            android:name=".cadastro_senha"
            android:exported="false" />
        <activity
            android:name=".cadastro_oficina"
            android:exported="false" />
        <activity
            android:name=".Login.Activities.LoginDoMecanico"
            android:exported="false" />
        <activity
            android:name=".LoginMecanico"
            android:exported="false" />
        <activity
            android:name=".MecanicoLogin"
            android:exported="false" />
        <activity
            android:name=".Onboarding.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Onboarding.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>