<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetosmarttools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_smart_tools"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_smart_tools_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".Clientes.StatusConserto"
            android:exported="false" />
        <activity
            android:name=".Servicos.AlterarStatusActivity"
            android:exported="false" />
        <activity
            android:name=".Login.Activities.LoginClienteActivity"
            android:exported="false" />
        <activity
            android:name=".Servicos.DetalheVeiculoServico"
            android:exported="false" />
        <activity
            android:name=".Servicos.CadastroDaPlaca"
            android:exported="false" />
        <activity
            android:name=".Clientes.DetalhesDoCliente"
            android:exported="false" />
        <activity
            android:name="com.example.projetosmarttools.Cadastro.CadastroCliente.DetalheCliente"
            android:exported="false" />
        <activity
            android:name="com.example.projetosmarttools.Cadastro.CadastroExtrato.DetalheExtrato"
            android:exported="false" />
        <activity
            android:name="com.example.projetosmarttools.Cadastro.CadastroCliente.CadastroDoCliente"
            android:exported="false" />
        <activity
            android:name="com.example.projetosmarttools.Cadastro.CadastroVeiculo.CadastroVeiculo"
            android:exported="false" />
        <activity
            android:name="com.example.projetosmarttools.Cadastro.CadastroExtrato.SaidaExtrato"
            android:exported="false" />
        <activity
            android:name="com.example.projetosmarttools.Cadastro.CadastroExtrato.EntradaExtrato"
            android:exported="false" />
        <activity
            android:name="com.example.projetosmarttools.Cadastro.CadastroVeiculo.Veiculo"
            android:exported="false" />
        <activity
            android:name=".ui.login.ClienteCadastro"
            android:exported="false"
            android:label="@string/title_activity_cliente_cadastro" />
        <activity
            android:name=".ui.login.CadastroCliente"
            android:exported="false"
            android:label="@string/title_activity_cadastro_cliente" />
        <activity
            android:name="com.example.projetosmarttools.Cadastro.CadastroExtrato.Saida"
            android:exported="false" />
        <activity
            android:name="com.example.projetosmarttools.Cadastro.CadastroExtrato.Entrada"
            android:exported="false" />
        <activity
            android:name=".Cadastro.NovasTransacoes"
            android:exported="false" />
        <activity
            android:name=".Ajustes"
            android:exported="false" />
        <activity
            android:name=".Main"
            android:exported="false" />
        <activity
            android:name=".Cadastro.CadastroOficina.CadastroPassword"
            android:exported="false" />
        <activity
            android:name=".Cadastro.CadastroOficina.CadastroOficina"
            android:exported="false" />
        <activity
            android:name=".Login.Activities.LoginDoMecanico"
            android:exported="false" />
        <activity
            android:name=".Onboarding.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Onboarding.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>